<footer>
    <div class="f-info">

        <div class="f-social">
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-github"></i>
            <i class="fa-brands fa-leetcode"></i>
         </div>
         <div class="f-rights">Copyright &copy; 2026 Homico. All rights reserved.</div>
         <div class="links">
            <a href="#">privacy policy</a>
            <a href="#">Terms of Service</a>
        </div>


    </div>
</footer>