<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Edit your apartment/vella</h2>
    <!-- <form >
        <label for="title">Title:</label>
        <input type="text"  value="<%listingDetails.title%>" id="title" name="listing[title]">
    </form>" -->
</body>
</html>