<% layout("layouts/boilerplate") %>

    <div class="container mt-5">

        <div class="row justify-content-center">

            <div class="col-md-8 col-lg-6">

                <div class="card shadow">

                    <div class="card-body">

                        <h2 class="text-center mb-4">
                            Add Your Apartment/Villa
                        </h2>

                        <form method="POST" action="/listings" novalidate class="needs-validation"
                            enctype="multipart/form-data">



                            <div class="mb-3">
                                <label for="title" class="form-label">
                                    Title
                                </label>
                                <input type="text" class="form-control" id="title" name="listing[title]"
                                    placeholder="Enter title of your listing" required>

                                <div class="invalid-feedback">
                                    Please Enter title
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="description" class="form-label">
                                    Description
                                </label>
                                <textarea class="form-control" id="description" name="listing[description]" rows="4"
                                    placeholder="Enter description of your listing" required></textarea>

                                <div class="invalid-feedback">
                                    Please enter description
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="price" class="form-label">
                                    Price
                                </label>
                                <input type="number" class="form-control" id="price" name="listing[price]"
                                    placeholder="Enter price" required>

                                <div class="invalid-feedback">
                                    Please enter price
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="image" class="form-label">
                                    Select File
                                </label>
                                <input type="file" class="form-control" id="image" name="listing[image]"
                                    placeholder="add file" required>

                                <div class="invalid-feedback">
                                    Upload File
                                </div>
                            </div>


                            <div class="mb-3">
                                <label for="location" class="form-label">
                                    Location
                                </label>
                                <input type="text" class="form-control" id="location" name="listing[location]"
                                    placeholder="Enter location" required>

                                <div class="invalid-feedback">
                                    Please enter location
                                </div>
                            </div>

                            <div class="mb-4">
                                <label for="country" class="form-label">
                                    Country
                                </label>
                                <input type="text" class="form-control" id="country" name="listing[country]"
                                    placeholder="Enter country" required>

                                <div class="invalid-feedback">
                                    Please mention country
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary  btn-add w-100">
                                Save Listing
                            </button>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>